{% load static %}
<!DOCTYPE html>
<html>
<head>
  
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css'%}">

  {% if title %}
    <title>Tracker - {{ title }} </title>
  {% else %}
    <title>Tracker</title>
  {% endif %}
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'meal-list'%}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'blog-home'%}">Diary</a>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Nutrition
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'goal-breakdown'%}">Goals</a>
              <a class="dropdown-item" href="{% url 'nutrition'%}">Food list</a>
              <a class="dropdown-item" href="{% url 'addfood'%}">Add Food</a>
              <a class="dropdown-item" href="{% url 'meal-create'%}">Add Meal</a>
              <a class="dropdown-item" href="{%url 'meal-list'%}">Track Progress</a>
              <!-- <a class="dropdown-item" href="#">Progress</a> -->
            </div>
            </li>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated%}
              <a class="nav-item nav-link" href="{% url 'profile'%}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
              <!-- <a class="nav-item nav-link" href="{% url 'post-create'%}">New Post</a> -->
            {% else %}
                <a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register'%}">Register</a>
              {%endif%}
          </div>
        </div>
      </div>
    </nav>
</header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor%}
        {%endif%}
        {% block content %}{% endblock %}
      </div>
      <!-- <div class="col-md-4">
        <div class="content-section">
          <h3>Live Analytics</h3>
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">caloric goals</li>
              <li class="list-group-item list-group-item-light">written diaries</li>
              <li class="list-group-item list-group-item-light">workouts</li>
            </ul>
        </div>
      </div> -->
    </div>
  </main>


  <!-- Optional JavaScript -->

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<script>
  new Chart(document.getElementById("daily_tracking_chart"), {
    type: 'bar',
    data: {
      labels: ["Carbs", "Protein", "Fat"],
      datasets: [{
        label: "todays intake",
        backgroundColor: ["#DC143C", "#228B22","#00CED1"],
        data: [{{optimal_proteins|safe}},{{optimal_carbs|safe}}, {{optimal_fats|safe}}]
      },]
    },
    options: {
      responsive: false
    }
});
</script>

<script>
  var ctx = document.getElementById("OverAll");
  var OverAll = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Proteins', 'Carbs', 'Fats'],
      datasets: [
        {
          type: 'bar',
          label: 'Optimal intake',
          // backgroundColor:["#33d4ff"," #33d4ff "," #33d4ff "],
          // the 1st and last value are placeholders and never get displayed on the chart
          data: [{{optimal_proteins|safe}},{{optimal_carbs|safe}},{{optimal_fats|safe}}],
          fill: false,
        },
        {
          type: 'bar', 
          label: 'Actualt intake today',
          // the 1st and last value are placeholders and never get displayed on the chart
          // to get a straight line, the 1st and last values must match the same value as
          // the next/prev respectively
          // backgroundColor:["##0000FF","##0000FF","##0000FF"],
          backgroundColor:["#33d4ff"," #33d4ff "," #33d4ff "],
          data: [{{todays_proteins|safe}},{{todays_carbs|safe}},{{todays_fats|safe}}],
          // fill: false,
          borderWidth: 1,
          // borderColor: '#f00',
          borderDash: [5,4],
          lineTension: 0,
          steppedLine: true
        }
      ]
    },
    options: {
      responsive: false,
    //  responsive: false
    // },
      scales: {
        yAxes: [{
          // stacked: true,
          ticks: {
            stepSize: 10,
            max: 300,
            min: 10,
          }
      }],  
      xAxes: [{
        // stacked: true,
        // exclude the 1st and last label placeholders by specifying the min/mix ticks
        ticks: {
          min: 'Proteins',
          max: 'Fats',
        }
      }],
    }
  }
});

</script>

<!-- <script>
//  new Chart(document.getElementById("goal_chart"), {
//     type: 'doughnut',
//     data: {
//       labels: ["Carbs", "Protein", "Fat"],
//       datasets: [{
//         label: "Population (millions)",
//         backgroundColor: ["#DC143C", "#228B22","#00CED1"],
//         data: [{{optimal_proteins|safe}},{{optimal_carbs|safe}}, {{optimal_fats|safe}}]
//       }]
//     },
//     options: {
//       responsive: false
//     }
// });
</script> -->

<script>
//  new Chart(document.getElementById("breakfast_chart"), {
//     type: 'doughnut',
//     data: {
//       labels: ["Carbs", "Protein", "Fat"],
//       datasets: [{
//         label: "Population (millions)",
//         backgroundColor: ["#DC143C", "#228B22","#00CED1"],
//         data: [{{breakfast_overall_KH|safe}},{{breakfast_overall_Protein|safe}}, {{breakfast_overall_Fett|safe}}]
//       }]
//     },
//     options: {
//       responsive: false
//     }
// });
</script><!-- 
<script>
//  new Chart(document.getElementById("lunch_chart"), {
//     type: 'doughnut',
//     data: {
//       labels: ["Carbs", "Protein", "Fat"],
//       datasets: [{
//         label: "Population (millions)",
//         backgroundColor: ["#DC143C", "#228B22","#00CED1"],
//         data: [{{lunch_overall_KH|safe}},{{lunch_overall_Protein|safe}}, {{lunch_overall_Fett|safe}}]
//       }]
//     },
//     options: {
//       responsive: false
//     }
// });
</script> -->
<!-- <script>
//  new Chart(document.getElementById("dinner_chart"), {
//     type: 'doughnut',
//     data: {
//       labels: ["Carbs", "Protein", "Fat"],
//       datasets: [{
//         label: "Population (millions)",
//         backgroundColor: ["#DC143C", "#228B22","#00CED1"],
//         data: [{{dinner_overall_KH|safe}},{{dinner_overall_Protein|safe}}, {{dinner_overall_Fett|safe}}]
//       }]
//     },
//     options: {
//       responsive: false
//     }
// });
</script> -->
<!-- <script>
//  new Chart(document.getElementById("snack_chart"), {
//     type: 'doughnut',
//     data: {
//       labels: ["Carbs", "Protein", "Fat"],
//       datasets: [{
//         label: "Population (millions)",
//         backgroundColor: ["#DC143C", "#228B22","#00CED1"],
//         data: [{{snack_overall_KH|safe}},{{snack_overall_Protein|safe}}, {{snack_overall_Fett|safe}}]
//       }]
//     },
//     options: {
//       responsive: false
//     }
// });
</script> -->